<%= link_to gravatar_for(current_user, size: Settings.user.gravatar_for_user_size), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("microposts.view_myprofile"), current_user %></span>
<span><%= pluralize(current_user.microposts.count, t("microposts.micropost")) %></span>
